body {
    background-color: rgb(244, 250, 255);
}

.divMedTekstBokse {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0% 20%;
}

#title {
    border: solid 4px black;
    padding: 0px 10px 0px 10px;
    margin: 0.5rem 0rem;
    background-color: rgb(244, 250, 255);;
}

#title h1, #title h2 {
    margin: 12px 0px 12px 0px;
}

img {
    width: 100px;
    height: auto;
}

#portrait1 {
    width: 70%;
}

.imageAndNameContainer {
  padding: 25px 25px 0px 25px;
}

.nameAndPictureDiv p {
  float: left;
  padding-left: 25px;
}

.agnesMariePDiv {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    font-size: 4rem;
    padding: 0px 20px 0px 20px;
    margin-right: 5px;
}

.nameAndPictureDiv, #kontaktDiv {
    background-color: aqua;
    margin: 2rem 0rem;
}

.nameAndPictureDiv div {
    display: flex;
    justify-content: center;
    overflow: auto;
}

.divMedTekstBoks {
    background-color: rgb(208, 221, 232);
    margin: 2rem 0rem;
    padding-bottom: 2rem;
}


.divMedTekstBoks h3 {
    background-color: rgb(35, 35, 107);
    color: white;
    margin: 2rem 10rem 1rem 10rem;
    padding: 1rem 0rem;
}


.projektDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.divMedTekstBoks ul {
    padding: 1rem 11rem;
}

.button {
    background-color: rgb(255, 255, 135);
    color: rgb(44, 44, 135);
    padding: 20px;
    border-radius: 20px;
    text-decoration: none;
}


.buttonPictureContactDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}


video {
    width: 88%;
    height: auto;
}


#hvemErJegDiv {
  padding: 0rem 5rem 32px 5rem;
}

.divMedTekstBoks p{
  font-size: 1.5rem;
}

.divMedTekstBoks li {
  font-size: 1.5rem;
  padding-right: 20px;
}

.divMedTekstBoks a {
  font-size: 1.3rem;
}

#favoritProjekter {
  padding-bottom: 50px;
}

#downloadCvButton {
  margin-bottom: 10px;
}

.divMedTekstBoks ul {
  text-align: start;
}

#portrait2 {
  float: right;
  width: 25%;
  height: auto;
}

#sendEnMailButton {
  margin-right: 20px;
  padding: 20px 60px 20px 60px;
}



.blueHeader, #blackHeader {
  font-size: 2rem;
  font-weight: 100;
}

#blackHeader {
  background-color: black;
}






















/* slideshow start */
body {
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .column img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

.row > .column {
    padding: 30px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    float: left;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    font-family: auto;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
    /* en linje under dette ny for at gøre billeder på slideshow mindre */
    height: auto;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }



  /* extra stuff that makes the images in slideshow mode be alligned in center and have a little more darkness 
  before hover */
  .thumbnailImageDiv {
    display: flex;
    justify-content: center;
    background-color: black;
  }

  .mySlides {
    background-color: darkturquoise;
  }

  .column {
    cursor: pointer;
  }
/* slideshow stop */