@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&display=swap');

body {
    color: burlywood;
    text-align: center;
    background-image: url(../flexbox-business-site-starting/resources/images/0e50c2395ce120082508aa6ac80ef16b.jpg);
    margin: 0px;
    background-repeat: no-repeat;
    background-color: black;
    font-family: 'Heebo', sans-serif;
}

header {
    background-color: black;
    padding: 15px 0px 15px 0px;
    width: 100%;
}

header a {
    color: burlywood;
    margin: 0px 10px 0px 10px;
    font-size: 20px;
}

h1, h2 {
    padding: 20px 0px 0px 0px;
}

h4 {
    padding: 0px 0px 20px 0px;
}

a {
    color: gray;
}

.bigContainerDiv {
    background: none;
}

.serviceContainer {
    width: 200px;
    height: auto;
    margin: 0px;
}

.serviceContainer h3 {
    height: 30px;
}

.bigContainerDiv img {
    width: auto;
    height: 100px;
}

div {
    background-color: black;
    width: 70%;
    margin: auto;
}

.members, .services {
    display: flex;
    justify-content: center;
}

img {
    width: auto;
    height: 200px;
}

footer {
    background-color: black;
    padding: 10px 0px 10px 0px;
    width: 100%;
    margin: 20px 0px 0px 0px;
    color: white;
}

.footerDiv {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 1000px) {
    .members, .services {
        flex-wrap: wrap;
    }

    img {
        width: 70%;
        height: auto;
    }

}
