@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400&family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');


.colors, .fonts, .textStyle {
    border: solid gray 4px;
    margin-bottom: 40px;
}



/* color section */
h2, h3, p, h1.titleTest, button{
    margin-left: 20px;
}

.beigeColor {
    background-color: rgb(245, 245, 220);
    border: solid gray;
    padding-left: 10px;
}

.darkGreenColor {
    background-color: rgb(0, 100, 0);
    color: white;
    border: solid gray;
    padding-left: 10px;
}

.blackColor {
    background-color: rgb(0, 0, 0);
    color: white;
    border: solid gray;
    padding-left: 10px;
}

.whiteColor {
    background-color: rgb(255, 255, 255);
    border: solid gray;
    padding-left: 10px;
}

.yellowColor {
    background-color: rgb(224, 165, 0);
    border: solid gray;
    padding-left: 10px;
}

/* fonts section */
.eBGaramond {
    font-family: 'EB Garamond', serif;
}

.eBGaramond500 {
    font-weight: 500;
}

.eBGaramondItalic {
    font-style: italic;
}

.playfairDisplay {
    font-family: 'Playfair Display', serif;
}

.playfairDisplay500 {
    font-weight: 500;
}

.playfairDisplayItalic {
    font-style: italic;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.roboto500 {
    font-weight: 500;
}

.robotoItalic {
    font-style: italic;
}

/* text style section */
.titleTest {
    font-family: 'Playfair Display', serif;
    letter-spacing: 2.5px;
}

.categoryTest {
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
}

.subHeaderTest {
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
}

.buttonTest {
    font-family: 'EB Garamond', serif;
    font-weight: 600;
}

.paragraphTest {
    font-family: 'Roboto', sans-serif;
}

.pictureTextTest {
    font-family: 'EB Garamond', serif;
    font-style: italic;
}