@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* 

only missing 4 things 

missing a video (awaiting one)

missing last text and last pictures (awaiting)

missing being on a real website (awaiting go sign and that the domain gets bought)

*/

body {
    background-color: rgb(244, 250, 255);
    font-family: "EB Garamond", serif;
}


.nameAndPictureDiv p a {
  color: black;
}

.anchor {
  display: block;
  position: relative;
  top: -55px;
  visibility: hidden;
}

/*
header {
  height: 100px;
}
*/


header {
  position: fixed;
  width: 100%;
  /*
  background-color: rgb(244, 250, 255);
  */
  background-color: #00BCD4;
  color: black;
  padding: 30px;
  z-index: 10;
  border-bottom: solid 2px black;
} 

.menuButton2 {
  position: absolute;
  top: -15px;
  right: 18px;
  font-size: 60px;
}

main {
  margin-top: 100px; 
}


/* menu start */

.menuButton {
  position: absolute;
  top: -15px;
  right: 10px;
  font-size: 60px;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 12px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/* menu stop */





.divMedTekstBokse {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0% 20%;
}

#title {
    border: solid 4px black;
    padding: 0px 10px 0px 10px;
    margin: 100px 0rem 0.5rem 0rem;
    background-color: rgb(244, 250, 255);
}

#title h1 {
  margin: 12px 0px 12px 0px
}

#title h2 {
  margin: 0px 0px 12px 0px
}

img {
    width: 100px;
    height: auto;
}

.parentTest {
  width: 100%;
}

#portrait1 {
    /*width: 70%;*/
    display: block;
    width: 100%;
    height: auto;
}

.imageAndNameContainer {
  padding: 25px 25px 0px 25px;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.nameAndPictureDiv p {
  float: left;
  padding-left: 25px;
}

.agnesMariePDiv {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    font-size: 4rem;
    padding: 0px 20px 0px 20px;
    margin-right: 5px;
    /*1 new line below*/
    justify-content: center;
}

.nameAndPictureDiv, #kontaktDiv {
    background-color: aqua;
    margin: 2rem 0rem;
}

/*
.nameAndPictureDiv div {
    display: flex;
    justify-content: center;
    overflow: auto;
}
    */

.divMedTekstBoks {
    background-color: rgb(208, 221, 232);
    margin: 2rem 0rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.divMedTekstBoks h3 {
    background-color: rgb(35, 35, 107);
    color: white;
    margin: 2rem 0rem 0rem 0rem;
    padding: 1rem 0rem;
    width: 60%;
}


.projektDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.divMedTekstBoks ul {
    padding: 1rem 11rem;
}

.button {
    background-color: rgb(255, 255, 135);
    color: rgb(44, 44, 135);
    padding: 20px;
    border-radius: 20px;
    text-decoration: none;
}


.buttonPictureContactDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#showreelH3 {
  margin-bottom: 1rem;
}

video {
    width: 88%;
    height: auto;
    background-color: black;
    border: solid 1px gray;
}

#hvemErJegDiv {
  padding: 0rem 5rem 0rem 5rem;
}

.divMedTekstBoks p{
  font-size: 1.5rem;
}

.divMedTekstBoks li {
  font-size: 1.5rem;
  padding-right: 20px;
}

.divMedTekstBoks a {
  font-size: 1.3rem;
}

#favoritProjekter {
  padding-bottom: 50px;
}

#downloadCvButton {
  margin-bottom: 10px;
}

.divMedTekstBoks ul {
  text-align: start;
}

#portrait2 {
  float: right;
  width: 25%;
  height: auto;
}

#sendEnMailButton {
  margin-right: 20px;
  padding: 20px 60px 20px 60px;
}



.blueHeader, #blackHeader {
  font-size: 2rem;
  font-weight: 100;
}

#blackHeader {
  background-color: black;
}





/* slideshow start */
body {
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .column img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

.row > .column {
    padding: 30px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    float: left;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    font-family: auto;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
    /* en linje under dette ny for at gøre billeder på slideshow mindre */
    height: auto;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }



  /* extra stuff that makes the images in slideshow mode be alligned in center and have a little more darkness 
  before hover */
  .thumbnailImageDiv {
    display: flex;
    justify-content: center;
    background-color: black;
  }

  .mySlides {
    background-color: darkturquoise;
  }

  .column {
    cursor: pointer;
  }

  /* last to css declarations to make sure lightbox gets resized with browser and images in lightbox keep ratio.*/
  .column2 {
    cursor: pointer;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 11.11%;
  }
/* slideshow stop */

@media only screen and (max-width: 1000px) {
  .column2 {
    width: 33.333%;
  }
}





/* media queries */

/* tablets */
@media only screen and (max-width: 1280px) {
  .agnesMariePDiv {
    font-size: 2rem;
  }

  #favoritProjekter ul {
    padding: 16px 40px 16px 40px;
  }

  /* fotos div */
  .row > .column {
    padding: 10px;
  }

  .column img {
    width: 100px;
    height: 100px;
  }

  /* hvem er jeg div */
  #portrait2 {
    width: 50%;
  }
}

@media only screen and (max-width: 675px) and (min-width: 450px) {
  .divMedTekstBokse {
    margin: 0% 5%;
  }
}

@media only screen and (max-width: 735px) {
  .agnesMariePDiv {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 585px) {
  .agnesMariePDiv {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 450px) {
  .divMedTekstBokse {
    margin: 0% 5%;
  }
  
  .agnesMariePDiv {
    font-size: 1.8rem;
    padding: 0px 8px 0px 8px;
  }

  .imageAndNameContainer {
    padding: 8px 8px 0px 8px
  }
  
  #favoritProjekter ul {
    padding: 16px 30px 16px 40px;
  }
  
  .divMedTekstBoks li {
    font-size: 1.3rem;
    padding-right: 20px;
  }
  
  #hvemErJegDiv {
    padding: 0px 16px 0px 16px
  }

  .nameAndPictureDiv p {
    padding-left: 8px;
  }
}

/* to fix fotos */
/*
@media only screen and (max-width: 600px) and (min-width: 450px) {
  .column img {
    width: 80px;
    height: 80px;
  }
}
*/

/* fotos fix */

@media only screen and (max-width: 1300px){
  .column img {
    width: 180px;
    height: 180px;
  }
}

@media only screen and (max-width: 1265px) {
  .column img {
    width: 170px;
    height: 170px;
  }
}

@media only screen and (max-width: 580px) {
  .column img {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (min-width: 1050px) and (max-width: 1199px) {
  .column img {
    width: 160px;
    height: 160px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1050px) {
  .column img {
    width: 140px;
    height: 140px;
  }
}

@media only screen and (max-width: 800px) and (min-width: 675px) {
  .column img {
    width: 110px;
    height: 110px;
  }
}

@media only screen and (max-width: 675px) and (min-width: 530px) {
  .column img {
    width: 135px;
    height: 135px;
  }
}

@media only screen and (max-width: 400px) and (min-width: 385px) {
  .column img {
    width: 80px;
    height: 80px;
  }
}

@media only screen and (max-width: 425px) {
  #sendEnMailButton {
    padding: 20px 20px 20px 20px;
  }
}

@media only screen and (max-width: 385px) {
  .agnesMariePDiv {
    font-size: 1.4rem;
  }

  .divMedTekstBoks li {
    font-size: 1rem;
    padding-right: 5px;
  }

  #favoritProjekter ul {
    padding: 16px 0px 16px 0px;
  }

  .projektDiv {
    padding: 16px 16px 16px 32px;
  }

  .blueHeader, #blackHeader {
    font-size: 1.5rem;
  }

  .divMedTekstBoks a {
    font-size: 1rem;
  }

  .divMedTekstBoks h3 {
    width: 80%;
  }

  #kontaktDiv div div p {
    font-size: 1.2rem;
  }

  #sendEnMailButton {
    padding: 20px 20px 20px 20px;
  }

  .column img {
    width: 70px;
    height: 70px;
  }
}