/* fonts import section */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Lato&family=Rubik&display=swap');

/* Define the light theme (default) */
:root {
    --bg-color: white; /* Background color */
    --text-color: black; /* Text color */
  }
  
  /* Define the dark theme */
  .dark-theme {
    --bg-color: black; /* Background color */
    --text-color: white; /* Text color */
  }
  /* Apply the theme colors to the body element */
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }

/* general css section */
body {
    font-family: 'Rubik', sans-serif;
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
    text-align: center;
}

div {
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    display: block;
}

/* header section */
header {
    display: flex;
    justify-content: space-evenly;
    color: black;
    flex-wrap: wrap;
    margin-top: 10px;
    align-items: center;
}

.projectsHeader {
    border-bottom: 2px solid black;
}

header a {
    padding: 0px 20px 0px 20px;
}

/* dark mode div section */
.DMDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px;
  }

/* dark mode section */
.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode-header {
    background-color: black;
    color: white;
    border-bottom: none;
    border-bottom: 2px solid white;
}

/* dark mode div elements section */
.DMDiv p, .DMDiv label {
    margin: 0px 30px 0px 30px;
}

/* projects list section */
.projectsList div {
    background-color: gainsboro;
    padding: 0.25rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: none;
    color: black;
    border-radius: 2rem;
}

/* spacing on projectsList text */


.fotomatic p, .teaCozy p, .colmarAcademy p, .grundforløbsPrøve p, .excursion p, .htmlAndCssCheatsheet p, .websiteDesignSystem p,
 .briansGarage p, .briansGym p, .numberGuesserSite p {
    margin: 0px;
    padding-bottom: 1.3rem;
}

.fotomatic h3, .teaCozy h3, .colmarAcademy h3, .grundforløbsPrøve h3, .excursion h3, .htmlAndCssCheatsheet h3, .websiteDesignSystem h3,
 .briansGarage h3, .briansGym h3 {
    margin: 0px;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
}

/* button section */
.button, .whiteButton {
    background-color: black;
    border: solid rgb(104, 104, 104);
    border-width: 0.2rem;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    display: inline-block;
    color: white;
}

/* white button */


/* links in buttons section */
a {
    color: black;
    font-size: 1rem;
    text-decoration: none;   
}

.button:hover {
    background-color: white;
    color: black
}

.dark-mode-button {
    background-color: white;
    color: black;
}

.dark-mode-button:hover {
    background-color: black;
    color: white;
}

/* img section */
.fotomatic:hover, .teaCozy:hover, .colmarAcademy:hover, .grundforløbsPrøve:hover, .excursion:hover, .htmlAndCssCheatsheet:hover, .websiteDesignSystem:hover,
 .briansGarage:hover, .briansGym:hover, .numberGuesserSite:hover, .blenderProjects:hover, .rouletteGame:hover, .sqlUsageFunnels:hover {
    filter: grayscale(100%);
}

.fotomatic:active, .teaCozy:active, .colmarAcademy:active, .grundforløbsPrøve:active, .excursion:active, .htmlAndCssCheatsheet:active, .websiteDesignSystem:active,
 .briansGarage:active, .briansGym:active, .numberGuesserSite:active, .blenderProjects:active, .rouletteGame:active, .sqlUsageFunnels:active {
    -webkit-tap-highlight-color: transparent;
}

.projectsList .htmlAndCssCheatsheet:hover, .websiteDesignSystem:hover, .numberGuesserSite:hover, .rouletteGame:hover, .sqlUsageFunnels:hover {
    filter: brightness(80%);
}

.projectsList a {
    color: white;
    text-shadow: 2px 2px 4px black;
}

.htmlAndCssCheatsheet a, .websiteDesignSystem a, .numberGuesserSite a {
    text-shadow: 2px 2px 4px black;
}

.numberGuesserH31 {
    margin-bottom: 0px;
}

.numberGuesserH31 h3 {
    padding-bottom: 0px;
}

.numberGuesserH32 {
    margin-top: 0px;
}

.numberGuesserH32 h3 {
    padding-top: 0px;
}

.projectsList .fotomatic {
    background: darkgray;
    background-image: url("../images/fotomatic.jpg");
}

.projectsList .teaCozy {
    background-image: url("../images/teacozy.webp");
}

.projectsList .colmarAcademy {
    background-image: url("../images/colmarCademy.jpg");
}

.projectsList .grundforløbsPrøve {
    background-image: url("../images/eventCentrum.png");
}

.projectsList .excursion {
    background-image: url("../images/excursion2.webp");
}

.projectsList .htmlAndCssCheatsheet {
    background-image: url("../images/lightBlackPaper.avif");
}

.projectsList .websiteDesignSystem {
    background-image: url("../images/lightBlackPaper.avif");
}

.projectsList .briansGarage {
    background-image: url("../images/briansGarage.jpg");
}

.projectsList .briansGym {
    background-image: url("../images/briansGym.avif");
}

.projectsList .numberGuesserSite {
    background-image: url("../images/lightBlackPaper.avif");
}

.projectsList .rouletteGame {
    background-image: url("../images/lightBlackPaper.avif"); 
}

.projectsList .sqlUsageFunnels {
    background-image: url("../images/lightBlackPaper.avif");
}

.projectsList .blenderProjects {
    background-image: url("../images/Rocket\ Rodeo.png");
}



/* below taken from w3 schools */

.button1 {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 15px;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Rubik', sans-serif;
    margin: 4px 30px;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }
  
  .button1:hover {
    background-color: #555555;
    color: white;
  }

  /* w3 schools end*/



/* media queries */

@media only screen and (max-width: 655px) and (min-width: 580px) {
    header p {
        font-size: 1rem;
    }

    body p, .biggerProjects li {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 900px) {
    header p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 770px) {
    header p {
        font-size: 14px
    }
}

/* media queries for phones */
@media only screen and (min-width: 600px) {
    .projectsList div {
        width: 60%;
        height: auto;
    }
    body {
        margin: 0px 250px 0px 250px;
    }
}

@media only screen and (max-width: 600px) {
    div {
        margin: 2% 2% 2% 2%;
    }
    /*
    div {
        margin: 20% 2% 20% 2%;
    }
    */
}

@media only screen and (min-width: 730px) {
    body {
        margin: 0px 20% 0px 20%;
    }
}

@media only screen and (min-width: 595px) and (max-width: 730px) {
    body {
        margin: 0px 5% 0px 5%;
    }
}

@media only screen and (max-width: 500px) {
    header a {
        padding: 0px;
    }
    .DMDiv button {
        margin: 0px;
    }
}

/* media queries for desktop */
  @media only screen and (min-width: 600px) {
    /* bigger projects section */
    .biggerProjects li {
        font-size: 1.5rem;
        margin: 30px 0px 30px 50px;
    }
    .portrait {
        padding: 0px;
    }
    .biggerProjects {
        justify-content: space-between;
    }
    .biggerProjects img {
        width: 30%;
    }
    /* general css declarations */
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
        margin-bottom: 0px;
    }
    h3 {
        font-size: 1.8rem;
    }
    h4 {
        font-size: 1.6rem;
    }
    p {
        font-size: 1.3rem;
    }
    /* programming logos at end of page*/
    .programmingLogos {
        justify-content: center;
    }
}

    /* media query for tablet. */
    @media only screen and (min-width: 600px) and (max-width: 780px) {
        body {
            margin-left: 0px;
            margin-right: 0px;
        }
    }

    @media only screen and (min-width: 780px) {
        .miniBody {
            margin-left: 0px;
            margin-right: 0px;;
        }
    }

  /* media query for header */
  @media only screen and (max-width: 374px) {
    header a {
        font-size: 14px;
    }
}